/*
 * Copyright (c) 2023 Jan Gnip
 * SPDX-License-Identifier: Apache-2.0
 */

 &i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	
	scd4x@62 {
		status = "okay";
		compatible = "sensirion,scd4x";
		reg = <0x62>;
		model = "scd40";
		altitude = <290>;
		measure-mode = "normal";
		temperature-offset = <6>;
	};
};